[package]
name = "tls-proxy"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
tokio = { version = "1.48", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
radix_trie = "0.3"
parking_lot = "0.12"
num_cpus = "1.17.0"
socket2 = "0.6.1"


[dev-dependencies]
tempfile = "3.23"

[profile.dev]
opt-level = 0
debug = true
incremental = true

[profile.release]
opt-level = 2
lto = "thin"
codegen-units = 16
debug = false
strip = true
incremental = false

[profile.production]
inherits = "release"
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"
strip = true

[profile.bench]
inherits = "release"
debug = true

[profile.release.package."*"]
opt-level = 2